.sidebar {
  background-color: black;
  padding: 1rem;
  width: 200px;
}

.sidebar h1 {
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
  padding-top: 50px;
  margin-left: 10px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
  margin-left: 10px;
}

.sidebar nav ul li {
  margin-bottom: 0.9rem;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

.sidebar nav ul li:hover a {
  text-decoration: underline;
  text-decoration-color: white;
}

/* Responsive adjustments */
@media (max-width: 400px) {
  .sidebar {
    width: 50%; /* Adjust width to fill the available space */
  }

  .sidebar h1 {
    padding-top: 20px; /* Reduce padding for smaller screens */
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    margin-left: 0; /* Center align or adjust margin as needed */
  }

  .sidebar nav ul {
    margin-left: 0; /* Adjust margin for smaller screens */
  }

  .sidebar nav ul li {
    margin-bottom: 0.5rem; /* Reduce margin between list items */
  }

  .sidebar nav ul li a {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}
