/* Default styles */
.separate {
    
    flex-wrap: wrap;
    gap: 20px;
}

img {
    width: 100%; /* Make images responsive */
    max-width: 500px; /* Limit maximum width */
    height: auto; /* Maintain aspect ratio */
}

.about {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust gap for smaller screens */
}

.blog h1 {
    font-size: 24px; /* Decrease font size for readability on smaller screens */
    text-decoration: underline;
}

.blog-image {
    width: 100%; /* Make blog images responsive */
    max-width: 400px; /* Limit maximum width */
    height: auto; /* Maintain aspect ratio */
}




@media only screen and (max-width: 400px) {
    .separate {
        gap: 10px;
    }
    .about {
        gap: 10px; 
    }
    .blog h1 {
        font-size: 20px; 
    }
    .blog-image {
        max-width: 400px; 
    }
    .contact {
        max-width: 400px;   
    }
}
@media only screen and (max-width: 600px) {
    .separate {
        gap: 10px;
    }
    .about {
        gap: 10px; 
    }
    .blog h1 {
        font-size: 20px; 
    }
    .blog-image {
        max-width: 400px; 
    }
    .contact {
        max-width: 400px;   
    }
}
